#menubar {
    left: 20px;
    top: 42px;
}

#contact {
	font-family: 'Verdana', sans-serif;
	text-align: center;
}

#art {
	page-break-after: always;
}

#name {
	font-size: 25px;
	font-family: Verdana, sans-serif;
	white-space: nowrap;
}

#profile {
	position: relative;
	width: 140px;
	border-radius: 160px;
	border-style: solid;
	border-width: 3px;
	border-color: white;
	margin-top: 3px;
	margin-left: 3px;
	z-index: 2;
}

#profile_background {
	position: absolute;
	border-radius: 132px;
	height: 150px;
	width: 146px;
	background-color: gray;
}

.copyright {
  margin-top: 20px;
}

@media (min-width: 408px) and (max-width: 767px) {
	#menubar {
		margin-left: 32%;
	}
}

@media (max-width: 1050px) {
	#menubar {
		margin-bottom: 70px;
	}
}

#img_margin {
	margin-left: 10px;
}

p {
  font-size: 14px;
  font-family: 'Courier', serif;
}

#a_underlined:link {
	color: gray;
}

#a_underlined:visited {
	color: gray;
}

#a_underlined:hover {
	text-decoration: underline;
}

/* Large desktop */
@media (min-width: 992px) {
	#menubar {
		top: 100px;
	}

	#content {
		top: 90px;
	}
}

#noexitcover {
	width: 1000px;
	height: auto;
}

/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 767px) {

}

/* Landscape phones and down */
@media (max-width: 480px) {

}
