<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link href="wdiexercise.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body>
	<div id="menubar" class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
		<p id="name">P. Chubinskiy</p>
    <p><a href="/">About Me</a></p>
    <p><a href="/node_version/code">Code</a></p>
    <p><a href="/node_version/writing">Writing</a></p>
    <p><a href="/node_version/contact">Contact</a></p>
  </div>

   <div id="content" class="col-xs-12 col-sm-12 col-md-9 col-lg-9">
		<img src="/images/noexitcover.jpg" style="width: 40%;">
    <span style="display: block;">* change the font here *</span>
		<!--<img src="collage.jpg" style="width: 40%;">-->
		<img src="/images/wccccatering.png" style="width: 40%;">
		<img src="/images/wccclogoletters.png" style="width: 40%;">

    <iframe src="https://player.vimeo.com/video/126012689" width="500" height="281" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    <p><a href="https://vimeo.com/126012689">engendering</a> from <a href="https://vimeo.com/user24324093">P Chubinskiy</a> on <a href="https://vimeo.com">Vimeo</a>.</p>

    <p class="copyright">Copyright Notice: All Images Copyright Paul Chubinskiy</p>
	</div>
</body>
</html>
