<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <link href="/stylesheets/wdiexercise.css" rel="stylesheet">
  <link href="/stylesheets/code.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css"
  href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body>
  <div id="menubar" class="col-lg-2 col-md-2 col-sm-2 col-xs-12">
    <p id="name">P. Chubinskiy</p>
    <p><a href="/">About Me</a></p>
    <p><a href="/node_version/writing">Writing</a></p>
    <p><a href="/node_version/artdesign">Art & Design</a></p>
    <p><a href="/node_version/contact">Contact</a></p>
  </div>

  <!-- add a mobile-responsive png-->
  <div id="content" class="row col-lg-offset-1 col-lg-10">
    <div class="col-lg-5">
      <a href="#">
        <div class="coming_soon">
          <span style="margin-top: 15%;">In Progress...</span>
        </div>
      </a>
      <p class="annotation"><a href=""></a></p>
      <p class="">Source code: <a href="#">Final Project for Week 12/12 of WDI</a></p>
    </div>

    <div class="col-lg-5">
      <a href="https://tttcmyk.pancakeapps.com/">
        <img class="example" src="/images/tictactoe_cmyk.png">
      </a><!--
      <p class="annotation"><a href="https://tttcmyk.pancakeapps.com/">Tic Tac Toe application I made when learning about JavaScript and jQuery.</a></p>
      <p>Source code: <a href="https://github.com/pchubinskiy/tictactoe_nonrefactored">tictactoe_nonrefactored</a></p>
     --></div>
  </div>

  <div id="content" class="row col-lg-offset-1 col-lg-10">
    <img class="col-lg-offset-5 col-lg-2" src="/images/lrngo_landing_pages/musicarts1.png" alt="">
    <img class="col-lg-2" src="/images/lrngo_landing_pages/musicarts2.png" alt="">

    <img class="col-lg-offset-5 col-lg-2" src="/images/lrngo_landing_pages/musicarts3.png" alt="">
    <img class="col-lg-2" src="/images/lrngo_landing_pages/musicarts4.png" alt="">

    <img class="col-lg-offset-5 col-lg-2" src="/images/lrngo_landing_pages/othercoolstuff.png" alt="">
    <img class="col-lg-2" src="/images/lrngo_landing_pages/othercoolstuff2.png" alt="">

    <img class="col-lg-offset-5 col-lg-2" src="/images/lrngo_landing_pages/sportsfitness1.png" alt="">
    <img class="col-lg-2" src="/images/lrngo_landing_pages/sportsfitness2.png" alt="">

    <img class="col-lg-offset-5 col-lg-2" src="/images/lrngo_landing_pages/sportsfitness3.png" alt="">
    <img class="col-lg-2" src="/images/lrngo_landing_pages/sportsfitness4.png" alt="">
  </div>

  <!-- <div id="content" class="row col-lg-5 col-md-5 col-sm-5 col-xs-12">
    <a href="https://w09wdiproj.herokuapp.com/">
      <img class="example" src="/images/w09_wdiproj.png">
    </a>
    <p class="annotation">
      <a href="https://w09wdiproj.herokuapp.com/">Real-time Node.js survey application I made for Week 09 of a Web Development course. Details & documentation in README.md.</a>
    </p>
    <p>Source code: <a href="https://github.com/pchubinskiy/pchubinskiy.github.io">pchubinskiy.github.io</a>
    </p>

    <a href="http://www.lrngo.com/coolstuff">
      <img class="example" src="/images/lrngo_landing_pages/othercoolstuff.png">
    </a>
    <p class="annotation"><a href="http://www.lrngo.com/coolstuff">Landing page I designed as an intern.</a></p>
  </div> -->
</body>
</html>
