<!DOCTYPE html>
<html lang="en">
<head>
	<title></title>
	<link href="wdiexercise.css" rel="stylesheet">
	<link rel="stylesheet" type="text/css"
	href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css"/>
</head>
<body>
  <div id="menubar" class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
    <p id="name">P. Chubinskiy</p>
    <p><a href="/">About Me</a></p>
    <p><a href="/node_version/code">Code</a></p>
    <p><a href="/node_version/artdesign">Art & Design</a></p>
    <p><a href="/node_version/contact">Contact</a></p>
  </div>

  <div id="content" class="col-xs-11 col-sm-11 col-md-6 col-md-offset-1 col-lg-6 col-lg-offset-1">
    <p><a href="http://www.lrngo.com/learn-english/The-Advantage-of-a-Bilingual-Brain">The Advantage of a Bilingual Brain</a></p>
    <object data="art_and_existentialism.pdf" type="application/pdf" width="100%" height="100%"></object>
    <a href="/pdfs/art_and_existentialism.pdf">Art and Existentialism PDF (unpublished essay)</a>
    <p>
    I wrote an aesthetic component for existential theory that understood consumption of art as a respite for bad faith, and production of art as a respite for nausea.
    In this essay, art is taken to mean a cultural object such as a performance, painting, or novel.
    More generally, my intent was to:
    provide a understanding of art that could be used in identifying Western and non-Western forms of art;
    account for how genres are created and recognized;
    write a theory that integrated notions of repression (bad faith as lying-to-yourself) so that it would be compatible with writing in sociology, economics, political science, etc, that draw on notions of ideology;
    understand art as serving a practical purpose--respite--so that the theory is conducive to quantitative analysis.
    </p>
    <p>Copyright Notice: All Images Copyright Paul Chubinskiy</p>
    <br>
    <br>
  </div>
</body>
</html>
